@charset "UTF-8";
@import "../node_modules/bootstrap/scss/_mixins.scss";

// Colors UWV
$hoofdkleuren-uwv-blauw: #006aca !default;
$hoofdkleuren-uwv-groen: #c5d937 !default;
$hoofdkleuren-uwv-wit: #ffffff !default;
$hoofdkleuren-uwv-zwart: #7c6755 !default;
$hoofdkleuren-uwv-roos: #db2059 !default;

$textkleuren-uwv-primair: #000000 !default;
$textkleuren-uwv-secundair: #666666 !default;

$achtergrondkleuren-uwv-lichtblauw: #d6efff !default;
$achtergrondkleuren-uwv-grijs: #eeeeee !default;
$achtergrondkleuren-uwv-zakelijk: #d5f1c9 !default;

$gradienten-blauw-boven: #006aca !default;
$gradienten-blauw-onder: #0058a8 !default;

// Bootstrap Colors
$btn-primary-bg: $hoofdkleuren-uwv-blauw !default;
$btn-primary-border: darken($btn-primary-bg, 8) !default;
$btn-primary-color: $hoofdkleuren-uwv-wit !default;
$btn-danger-bg: #cd0134 !default;
$btn-danger-border: darken($btn-danger-bg, 8) !default;
$btn-danger-color: $hoofdkleuren-uwv-wit !default;
$btn-success-bg: #96bd32 !default;
$btn-success-border: darken($btn-success-bg, 8) !default;
$btn-success-color: $textkleuren-uwv-primair !default;

// Others
$padding-in-message: 12px !default;

// Default Variables
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_custom.scss";
