@charset "UTF-8";
@import "../node_modules/bootstrap/scss/_mixins.scss";

// Colors UWV
$hoofdkleuren-uwv-blauw: #006ACA !default;
$hoofdkleuren-uwv-groen: #C5D937 !default;
$hoofdkleuren-uwv-wit: #FFFFFF !default;
$hoofdkleuren-uwv-zwart: #7C6755 !default;

$achtergrondkleuren-uwv-headlines: #006ACA !default;
$achtergrondkleuren-uwv-primair: #000000 !default;
$achtergrondkleuren-uwv-secundair: #666666 !default;
$achtergrondkleuren-uwv-lichtblauw: #D6EFFF !default;
$achtergrondkleuren-uwv-grijs: #EEEEEE !default;
$achtergrondkleuren-uwv-zakelijk: #D5F1C9 !default;

$uwv-roos: #db2059 !default;

// Bootstrap Colors
$btn-primary-bg: $hoofdkleuren-uwv-blauw !default;

// Others
$padding-in-message: 12px !default;

// Default Variables
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_custom.scss";
