@import "../../client/_vars.scss";

body {
  font-family: Verdana, Geneva, sans-serif;
  color: $textkleuren-uwv-primair;
}

.iframe-main {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.chat-area-full {
  height: 100%;
  @include media-breakpoint-up(md) {
    margin: $spacer $spacer*2 $spacer 70%;
    height: auto;
  }

  .chat-area-characters {
    background-color: $hoofdkleuren-uwv-blauw;
    height: 100%;
    color: $hoofdkleuren-uwv-wit;
    text-align: center;
    padding-top: $spacer;
    @include media-breakpoint-up(md) {
      border: 1px solid $hoofdkleuren-uwv-blauw;
      border-radius: 8px;
      overflow: hidden;
      height: 70vh;
    }

    .btn-character {
      background: none;
      padding: 0;
      width: 100%;
      img {
        width: 100%;
        background-color: $hoofdkleuren-uwv-wit;
        border: 1px solid $achtergrondkleuren-uwv-grijs;
        border-radius: 50%;
      }
    }

    .btn-close {
      color: inherit;
      font-size: 28px;
      background: none;
      padding: 0;
    }
  }

  .chat-area-chat {
    background-color: $achtergrondkleuren-uwv-lichtblauw;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    @include media-breakpoint-up(md) {
      border: 1px solid $hoofdkleuren-uwv-blauw;
      border-radius: 8px;
      overflow: hidden;
      height: 70vh;
    }

    .chat-area-header {
      color: $hoofdkleuren-uwv-wit;
      background-color: $hoofdkleuren-uwv-blauw;
      flex: 0 0 60px;
      text-align: center;

      .chat-header-image {
        height: 50px;
        width: 50px;
        background-color: $hoofdkleuren-uwv-wit;
        border: 1px solid $achtergrondkleuren-uwv-grijs;
        border-radius: 50%;
      }

      .chat-header-text {
        margin-bottom: 0;
      }
      .chat-header-subtext {
        font-size: 8px;
      }

      .btn-close, .btn-exit {
        color: inherit;
        font-size: 28px;
        background: none;
        padding: 0;
      }
    }

    .chat-area-redirect {
      background-color: $achtergrondkleuren-uwv-grijs;
      border-bottom: 1px solid $hoofdkleuren-uwv-blauw;
      font-size: 14px;
      padding: $spacer;
      flex: 0 0 auto;
      overflow: auto;

      .row {
        margin-bottom: $spacer;
      }
      .row:last-of-type {
        margin-bottom: 0;
      }

      .btn:not(.btn-unannoy) {
        white-space: normal;
        width: 100%;
        color: $hoofdkleuren-uwv-wit;
        background: linear-gradient($gradienten-blauw-boven, $gradienten-blauw-onder);
      }
      .btn:not(.btn-unannoy):hover, .btn:not(.btn-unannoy):active {
        background: linear-gradient($gradienten-blauw-onder, $gradienten-blauw-boven);
        text-decoration: underline;
      }

      .btn-unannoy {
        color: inherit;
        font-size: 22px;
        background: none;
        padding: 0;
      }
    }

    .chat-area-messages {
      padding: $spacer $spacer 0;
      overflow: auto;
      flex: 1 1 auto;
      margin-bottom: 0;

      li:last-of-type {
        p {
          margin-bottom: $spacer/2;
        }
      }
    }

    .chat-area-form {
      flex: 0 0 auto;
      padding: $spacer/2;
      textarea {
        resize: none;
      }
    }
  }

  .chat-area-buttons {
    float: right;
    margin-top: $spacer;
    @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: $spacer;
      right: $spacer;
      .btn-close {
        display: none;
      }
    }

    .chat-oc-button {
      padding: 0;
      background-color: $hoofdkleuren-uwv-roos;
      color: $hoofdkleuren-uwv-wit;
      border-radius: 50%;
      height: 60px;
      line-height: 60px;
      width: 60px;
      font-size: 28px;
      text-align: center;
    }
  }
}

.chat-message {
  border-radius: 16px;
  padding: ($padding-in-message - 4px) $padding-in-message ($padding-in-message - 2px);
  border: 1px solid $achtergrondkleuren-uwv-grijs;
  overflow: hidden;
  font-size: 14px;

  ul > li {
    list-style-type: disc;
  }

  video {
    margin: (-1 * $padding-in-message + 4px) (-1 * $padding-in-message) (-2 * $padding-in-message + 7px);
    width: calc(100% + #{$padding-in-message * 2});
    max-width: none;
  }

  iframe {
    width: 100%;
    height: 436px;
    border: none;
    overflow: hidden;
  }
}

.chat-message-text {
  width: 80%;
}

.chat-message-media {
  width: 100%;
}

.chat-message-bot {
  background-color: $hoofdkleuren-uwv-wit;
  float: left;
}

.chat-message-user {
  background-color: $hoofdkleuren-uwv-blauw;
  color: $hoofdkleuren-uwv-wit;
  text-align: right;
  float: right;
}

.chat-message-talking {
  font-size: 22px;
  padding: ($padding-in-message - 10px) $padding-in-message ($padding-in-message - 8px);
  width: auto;
}

// Animated talking dots (https://martinwolf.org/blog/2015/01/pure-css-savingloading-dots-animation)
@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.talking span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.2s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.talking span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}

.talking span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .8s;
}
